.footer {
  background-color: $darkBrown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 0;
  &__logo {
    margin: 10px 0;
    @include breakpoint-up(medium) {
      margin-right: 7rem;
    }
  }
  &__subscription {
    margin: 10px 0;
    text-align: center;
    @include breakpoint-up(medium) {
      margin-left: 7rem;
    }
  }
  &__detail {
    color: $white;
  }
  &__address,
  &__contact {
    margin: 0;
    font-size: $font-sm;
  }
  &__subscription {
    margin: 10px 0;
    text-align: center;
    width: 30%;
    @include breakpoint-up(medium) {
      margin-left: 5rem;
    }
    &-form {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      flex-wrap: wrap;
      position: relative;
    }
    &-header {
      margin: 0;
      color: $white;
      text-transform: uppercase;
    }
    .footer__input {
      padding: 1.2rem 0;
      background-color: $darkBrown;
      border: 1px solid $white;
      margin: 0;
      width: 100%;
      color: $white;
      font-family: $secondaryFont;
      @include breakpoint-up(medium) {
        width: 50%;
        padding: 0.875rem 10px;
      }
      &::placeholder {
        text-transform: uppercase;
        font-family: $secondaryFont;
        font-size: $font-md - 0.25;
        color: $white;
        text-align: center;
        @include breakpoint-up(medium) {
          text-align: left;
        }
      }
    }
  }
  &__social {
    margin-top: 15px;
    text-align: left;
    @include breakpoint-down(small) {
      text-align: center;
    }
  }
  &__link {
    display: inline-block;
    margin: 0 5px;
    img {
      color: $white;
    }
  }

  &__button {
    text-transform: uppercase;
    color: $white;
    margin: 0;
    width: 100%;
    @include breakpoint-up(medium) {
      width: 12rem;
    }
  }
}
